In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("ImdbTopMovies.csv")
dataset

                    Title  Year
0                 The Kid  1921
1             City Lights  1931
2                       M  1931
3            Modern Times  1936
4      The Great Dictator  1940
..                    ...   ...
95  The Dark Knight Rises  2012
96           Interstellar  2014
97               Whiplash  2014
98                 Dangal  2016
99                  Logan  2017

[100 rows x 2 columns]